.header {
    display: flex;
    align-items: center;
    justify-content: canter;
    background-color: #3874ff;
    padding: 10px 20px;
    margin-bottom: 150px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: centre;
    background-color: #3874ff;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
}